body {
    padding-top: 60px;
}

.navbar-fixed-top {
    border: 0;
}

.left-menu .active {
    border-left: 3px solid #1b809e;
    background-color: #f1f1f1;
}

.loading {
    animation: loading 10s ease infinite;
    background-image: linear-gradient(
        125deg,
        #fff,
        #f3f3f3 41%,
        #ededed 0,
        #fff
    );
    background-size: 300% 300%
}
